.repo-card {
  display: inline-block;
  width: 200px;
  text-align: center;
  margin: 0 20px 20px 0;
  border: 1px solid black;
  border-radius: 5px;
}

.repo_card__header {
  height: 50px;
}

.repo-card__title {
  margin-top:5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
}

.repo-card__content {
  height: 200px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}